@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;

    min-height: 100vh;
 
    display: flex;
    position: relative;
    flex-direction: column;
    color: white;
    background: black;
    /* justify-content: center; */
    align-items: center;
    margin:0;
}
.overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: -1;
    height:100%;
    background-image: url('background.jpg');
    background-size: cover;
    opacity: 0.5;
    background-position: center center;
    /* background: rgba(0,0,0,0.5); */

}
.countdown-container{
    display: flex;

}
h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 8rem;
}
.big-text{
    font-size: 5rem;
    line-height: 1;
    font-weight: bold;
    margin: 1rem 2rem;
    /* margin:100px 2rem 0 2rem;  */
}

.countdown-el{
    text-align: center;
}
.countdown-el span{
    font-size: 1.5rem;
}